@{
    ViewData["Title"] = "Home Page";
}

@model ProjectsListViewModel

<h1>Book Store</h1>
<p>Below is our full collection of books! Enjoy!</p>
@foreach (Book b in Model.Books)
{

    <partial name="ProjectSummary" model="b"/>
}


<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>